@model DataDomain.Person

@{
    ViewData["Title"] = "Details";
    Layout = "_LayoutPatients";
}
<br/>
<div class="panel panel-info" style="margin-left: 40px; margin-right: 40px;">
<div class="panel-heading"><h3>Details about your account:</h3></div>
<div class="panel-body">
    <div class="row">
        <div class="col-lg-6">
            <div>
                <strong>@Html.DisplayNameFor(model => model.Cnp)</strong>: @Html.DisplayFor(model => model.Cnp)
            </div>
            <div>
                <strong> @Html.DisplayNameFor(model => model.FirstName)</strong>: @Html.DisplayFor(model => model.FirstName)
            </div>
            <div>
                <strong>@Html.DisplayNameFor(model => model.LastName)</strong>: @Html.DisplayFor(model => model.LastName)
            </div>
            <div>
                <strong>@Html.DisplayNameFor(model => model.EmailAddress)</strong>:@Html.DisplayFor(model => model.EmailAddress)
            </div>
            <div>
                <strong>@Html.DisplayNameFor(model => model.Username)</strong>: @Html.DisplayFor(model => model.Username)
            </div>
            <div>
                <strong>@Html.DisplayNameFor(model => model.Password)</strong>:@Html.DisplayFor(model => model.Password)
            </div>
            <div>
                <strong>@Html.DisplayNameFor(model => model.Gender)</strong>:@Html.DisplayFor(model => model.Gender)
            </div>
            <div>
                <strong> @Html.DisplayNameFor(model => model.Birthday)</strong>:@Html.DisplayFor(model => model.Birthday)
            </div>
            <div>
                <strong>@Html.DisplayNameFor(model => model.Role)</strong>: @Html.DisplayFor(model => model.Role)
            </div>
            <hr/>
            <div>
                <a asp-action="Edit" asp-route-id="@Model.Id" class="glyphicon glyphicon-pencil"></a> 
            </div>
        </div>
    </div>
</div>
</div>
